* {
    font-family: Arial, Helvetica, sans-serif;
}
  
html, body {
    margin: 0;
    height: 100%;
}
  
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightgrey;
}
  
#headq {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    padding: 14px 0;
}
  
#startEst, #individual, #assembly {
      background-color: rgb(245, 11, 245);
      border-radius: 15px;
      color: black;
      display: grid;
      font-size: 22px;
      line-height: 22px;
      margin: 16px 16px 16px 20px;
      padding: 14px 34px;
      text-align: center;
      cursor: pointer;
      border: solid black;
}

#off {
    background-color: grey;
    border-radius: 15px;
    color: black;
    display: grid;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: not-allowed;
    border: solid black;
}

#laser, #tlaser, #slaser, #saw, #punch {
    background-color: rgb(16, 247, 16);
    border-radius: 15px;
    color: black;
    display: grid;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    border: solid black;
}

#Brake, #Hardware, #Roll, #Iron, #Tube, #Mill, #Lathe, #Tap, #Spot, #Weld, #Robot {
    background-color: rgb(168, 167, 167);
    border-radius: 15px;
    color: black;
    display: grid;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    border: solid black;
}

#selected {
    background-color: skyblue;
    border-radius: 15px;
    color: black;
    display: grid;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    border: solid black;
}

#finished {
    background-color: gold;
    border-radius: 15px;
    color: black;
    display: grid;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    border: solid black;
}

#cancel {
    background-color: red;
    border-radius: 15px;
    color: black;
    display: grid;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    border: solid black;
}

#hidden {
      display: none;
      opacity: 0;
}